
* -linguist-vendored linguist-detectable
/.gitattributes export-ignore
/README.md export-ignore
/usr/share/i18n/charmaps export-ignore
/usr/share/i18n/locales/POSIX export-ignore

/usr/share/i18n/locales/aa* export-ignore
/usr/share/i18n/locales/af* export-ignore
/usr/share/i18n/locales/agr* export-ignore
/usr/share/i18n/locales/ak* export-ignore
/usr/share/i18n/locales/am* export-ignore
/usr/share/i18n/locales/an* export-ignore
/usr/share/i18n/locales/anp* export-ignore
/usr/share/i18n/locales/ar* export-ignore
/usr/share/i18n/locales/as* export-ignore
/usr/share/i18n/locales/ast* export-ignore
/usr/share/i18n/locales/ayc* export-ignore
/usr/share/i18n/locales/az* export-ignore
/usr/share/i18n/locales/be* export-ignore
/usr/share/i18n/locales/bem* export-ignore
/usr/share/i18n/locales/ber* export-ignore
/usr/share/i18n/locales/bg* export-ignore
/usr/share/i18n/locales/bhb* export-ignore
/usr/share/i18n/locales/bho* export-ignore
/usr/share/i18n/locales/bi* export-ignore
/usr/share/i18n/locales/bn* export-ignore
/usr/share/i18n/locales/bo* export-ignore
/usr/share/i18n/locales/br* export-ignore
/usr/share/i18n/locales/brx* export-ignore
/usr/share/i18n/locales/bs* export-ignore
/usr/share/i18n/locales/byn* export-ignore
/usr/share/i18n/locales/ca* export-ignore
/usr/share/i18n/locales/ce* export-ignore
/usr/share/i18n/locales/chr* export-ignore
/usr/share/i18n/locales/ckb* export-ignore
/usr/share/i18n/locales/cmn* export-ignore
/usr/share/i18n/locales/cns11643* export-ignore
/usr/share/i18n/locales/crh* export-ignore
/usr/share/i18n/locales/cs* export-ignore
/usr/share/i18n/locales/csb* export-ignore
/usr/share/i18n/locales/cv* export-ignore
/usr/share/i18n/locales/cy* export-ignore
/usr/share/i18n/locales/da* export-ignore
/usr/share/i18n/locales/de* export-ignore
/usr/share/i18n/locales/doi* export-ignore
/usr/share/i18n/locales/dsb* export-ignore
/usr/share/i18n/locales/dv* export-ignore
/usr/share/i18n/locales/dz* export-ignore
/usr/share/i18n/locales/el* export-ignore
/usr/share/i18n/locales/eo* export-ignore
/usr/share/i18n/locales/es* export-ignore
/usr/share/i18n/locales/et* export-ignore
/usr/share/i18n/locales/eu* export-ignore
/usr/share/i18n/locales/fa* export-ignore
/usr/share/i18n/locales/ff* export-ignore
/usr/share/i18n/locales/fi* export-ignore
/usr/share/i18n/locales/fil* export-ignore
/usr/share/i18n/locales/fo* export-ignore
/usr/share/i18n/locales/fr* export-ignore
/usr/share/i18n/locales/fur* export-ignore
/usr/share/i18n/locales/fy* export-ignore
/usr/share/i18n/locales/ga* export-ignore
/usr/share/i18n/locales/gd* export-ignore
/usr/share/i18n/locales/gez* export-ignore
/usr/share/i18n/locales/gl* export-ignore
/usr/share/i18n/locales/gu* export-ignore
/usr/share/i18n/locales/gv* export-ignore
/usr/share/i18n/locales/ha* export-ignore
/usr/share/i18n/locales/hak* export-ignore
/usr/share/i18n/locales/he* export-ignore
/usr/share/i18n/locales/hi* export-ignore
/usr/share/i18n/locales/hif* export-ignore
/usr/share/i18n/locales/hne* export-ignore
/usr/share/i18n/locales/hr* export-ignore
/usr/share/i18n/locales/hsb* export-ignore
/usr/share/i18n/locales/ht* export-ignore
/usr/share/i18n/locales/hu* export-ignore
/usr/share/i18n/locales/hy* export-ignore
/usr/share/i18n/locales/i18n* export-ignore
/usr/share/i18n/locales/ia* export-ignore
/usr/share/i18n/locales/id* export-ignore
/usr/share/i18n/locales/ig* export-ignore
/usr/share/i18n/locales/ik* export-ignore
/usr/share/i18n/locales/is* export-ignore
/usr/share/i18n/locales/iso14651* export-ignore
/usr/share/i18n/locales/it* export-ignore
/usr/share/i18n/locales/iu* export-ignore
/usr/share/i18n/locales/ja* export-ignore
/usr/share/i18n/locales/ka* export-ignore
/usr/share/i18n/locales/kab* export-ignore
/usr/share/i18n/locales/kk* export-ignore
/usr/share/i18n/locales/kl* export-ignore
/usr/share/i18n/locales/km* export-ignore
/usr/share/i18n/locales/kn* export-ignore
/usr/share/i18n/locales/ko* export-ignore
/usr/share/i18n/locales/kok* export-ignore
/usr/share/i18n/locales/ks* export-ignore
/usr/share/i18n/locales/ku* export-ignore
/usr/share/i18n/locales/kw* export-ignore
/usr/share/i18n/locales/ky* export-ignore
/usr/share/i18n/locales/lb* export-ignore
/usr/share/i18n/locales/lg* export-ignore
/usr/share/i18n/locales/li* export-ignore
/usr/share/i18n/locales/lij* export-ignore
/usr/share/i18n/locales/ln* export-ignore
/usr/share/i18n/locales/lo* export-ignore
/usr/share/i18n/locales/lt* export-ignore
/usr/share/i18n/locales/lv* export-ignore
/usr/share/i18n/locales/lzh* export-ignore
/usr/share/i18n/locales/mag* export-ignore
/usr/share/i18n/locales/mai* export-ignore
/usr/share/i18n/locales/mfe* export-ignore
/usr/share/i18n/locales/mg* export-ignore
/usr/share/i18n/locales/mhr* export-ignore
/usr/share/i18n/locales/mi* export-ignore
/usr/share/i18n/locales/miq* export-ignore
/usr/share/i18n/locales/mjw* export-ignore
/usr/share/i18n/locales/mk* export-ignore
/usr/share/i18n/locales/ml* export-ignore
/usr/share/i18n/locales/mn* export-ignore
/usr/share/i18n/locales/mni* export-ignore
/usr/share/i18n/locales/mnw* export-ignore
/usr/share/i18n/locales/mr* export-ignore
/usr/share/i18n/locales/ms* export-ignore
/usr/share/i18n/locales/mt* export-ignore
/usr/share/i18n/locales/my* export-ignore
/usr/share/i18n/locales/nan* export-ignore
/usr/share/i18n/locales/nb* export-ignore
/usr/share/i18n/locales/nds* export-ignore
/usr/share/i18n/locales/ne* export-ignore
/usr/share/i18n/locales/nhn* export-ignore
/usr/share/i18n/locales/niu* export-ignore
/usr/share/i18n/locales/nl* export-ignore
/usr/share/i18n/locales/nn* export-ignore
/usr/share/i18n/locales/nr* export-ignore
/usr/share/i18n/locales/nso* export-ignore
/usr/share/i18n/locales/oc* export-ignore
/usr/share/i18n/locales/om* export-ignore
/usr/share/i18n/locales/or* export-ignore
/usr/share/i18n/locales/os* export-ignore
/usr/share/i18n/locales/pa* export-ignore
/usr/share/i18n/locales/pap* export-ignore
/usr/share/i18n/locales/pl* export-ignore
/usr/share/i18n/locales/ps* export-ignore
/usr/share/i18n/locales/pt* export-ignore
/usr/share/i18n/locales/quz* export-ignore
/usr/share/i18n/locales/raj* export-ignore
/usr/share/i18n/locales/ro* export-ignore
/usr/share/i18n/locales/ru* export-ignore
/usr/share/i18n/locales/rw* export-ignore
/usr/share/i18n/locales/sa* export-ignore
/usr/share/i18n/locales/sah* export-ignore
/usr/share/i18n/locales/sat* export-ignore
/usr/share/i18n/locales/sc* export-ignore
/usr/share/i18n/locales/sd* export-ignore
/usr/share/i18n/locales/se* export-ignore
/usr/share/i18n/locales/sgs* export-ignore
/usr/share/i18n/locales/shn* export-ignore
/usr/share/i18n/locales/shs* export-ignore
/usr/share/i18n/locales/si* export-ignore
/usr/share/i18n/locales/sid* export-ignore
/usr/share/i18n/locales/sk* export-ignore
/usr/share/i18n/locales/sl* export-ignore
/usr/share/i18n/locales/sm* export-ignore
/usr/share/i18n/locales/so* export-ignore
/usr/share/i18n/locales/sq* export-ignore
/usr/share/i18n/locales/sr* export-ignore
/usr/share/i18n/locales/ss* export-ignore
/usr/share/i18n/locales/st* export-ignore
/usr/share/i18n/locales/sv* export-ignore
/usr/share/i18n/locales/sw* export-ignore
/usr/share/i18n/locales/szl* export-ignore
/usr/share/i18n/locales/ta* export-ignore
/usr/share/i18n/locales/tcy* export-ignore
/usr/share/i18n/locales/te* export-ignore
/usr/share/i18n/locales/tg* export-ignore
/usr/share/i18n/locales/th* export-ignore
/usr/share/i18n/locales/the* export-ignore
/usr/share/i18n/locales/ti* export-ignore
/usr/share/i18n/locales/tig* export-ignore
/usr/share/i18n/locales/tk* export-ignore
/usr/share/i18n/locales/tl* export-ignore
/usr/share/i18n/locales/tn* export-ignore
/usr/share/i18n/locales/to* export-ignore
/usr/share/i18n/locales/tpi* export-ignore
/usr/share/i18n/locales/tr* export-ignore
/usr/share/i18n/locales/translit* export-ignore
/usr/share/i18n/locales/ts* export-ignore
/usr/share/i18n/locales/tt* export-ignore
/usr/share/i18n/locales/ug* export-ignore
/usr/share/i18n/locales/uk* export-ignore
/usr/share/i18n/locales/unm* export-ignore
/usr/share/i18n/locales/ur* export-ignore
/usr/share/i18n/locales/uz* export-ignore
/usr/share/i18n/locales/ve* export-ignore
/usr/share/i18n/locales/vi* export-ignore
/usr/share/i18n/locales/wa* export-ignore
/usr/share/i18n/locales/wae* export-ignore
/usr/share/i18n/locales/wal* export-ignore
/usr/share/i18n/locales/wo* export-ignore
/usr/share/i18n/locales/xh* export-ignore
/usr/share/i18n/locales/yi* export-ignore
/usr/share/i18n/locales/yo* export-ignore
/usr/share/i18n/locales/yue* export-ignore
/usr/share/i18n/locales/yuw* export-ignore
/usr/share/i18n/locales/zu* export-ignore

/usr/share/i18n/locales/en_AG* export-ignore
/usr/share/i18n/locales/en_AU* export-ignore
/usr/share/i18n/locales/en_BW* export-ignore
/usr/share/i18n/locales/en_CA* export-ignore
/usr/share/i18n/locales/en_DK* export-ignore
/usr/share/i18n/locales/en_GB* export-ignore
/usr/share/i18n/locales/en_HK* export-ignore
/usr/share/i18n/locales/en_IE* export-ignore
/usr/share/i18n/locales/en_IL* export-ignore
/usr/share/i18n/locales/en_IN* export-ignore
/usr/share/i18n/locales/en_NG* export-ignore
/usr/share/i18n/locales/en_NZ* export-ignore
/usr/share/i18n/locales/en_PH* export-ignore
/usr/share/i18n/locales/en_SC* export-ignore
/usr/share/i18n/locales/en_SG* export-ignore
/usr/share/i18n/locales/en_US* export-ignore
/usr/share/i18n/locales/en_XX* export-ignore
/usr/share/i18n/locales/en_ZA* export-ignore
/usr/share/i18n/locales/en_ZM* export-ignore
/usr/share/i18n/locales/en_ZW* export-ignore
/usr/share/i18n/locales/zh_CN* export-ignore
/usr/share/i18n/locales/zh_HK* export-ignore
/usr/share/i18n/locales/zh_SG* export-ignore
/usr/share/i18n/locales/zh_TW* export-ignore
